{% extends 'index.html' %} 
{% load static %}

{% block content %}

{% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% for message in messages %}
        <div><strong>{{ message }}</strong></div>
        {% endfor %}
    </div>
{% endif %}

<script>
  $(".alert").alert();
</script>


<body>
    <div  class="container">
        <h1
            style="
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            color: blue;">
            {{ course.title }}
        </h1>
    <div>
    <div>
        <img src="{{ course.course_image.url }}"
            style="
                width: 40%"/>
        <h2>{{ course.description }}</h2>
    </div>
    <div>
        <button
            class="btn btn-light btn-lrg"
            type="button"
            style = "
                padding-left: 3rem;
                padding-right: 3rem;
                margin-top: 3rem;
                margin-bottom: 3rem;
                width: 50%;">
            <a href="{{ course.link }}" target="_blank">Learn More</a>
        </button>
    </div>
    <div>
        <button type="button" class="btn btn-light btn-lrg"
            style = 
            "padding-left: 3rem;
            padding-right: 3rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
            width: 50%;">
         <a href="{% url 'courses' %}">Go Back</a>
    </div>
</body>
{% endblock %}