{% load static %} 

<div 
    style="
        margin-top: 7vmax;
        text-align: center;">
  <img
    style="
        width: 50%;"
    src="{{STATIC_URL}}/static/images/cc_logo.png"/>
</div>        
        
<div class="skills">
    <hr class="hr-text" data-content="CodingCops">
    <ul id="techlist">
    <li>JavaScript</li>
    <i class="fa-solid fa-circle"></i>
    <li>Python</li>
    <i class="fa-solid fa-circle"></i>
    <li>React</li>
    <i class="fa-solid fa-circle"></i>
    <li>JSON</li>
    <i class="fa-solid fa-circle"></i>
    <li>PostgreSQL</li>
    <i class="fa-solid fa-circle"></i>
    <li>Bootstrap</li>
    <i class="fa-solid fa-circle"></i>
    <li>Semantic-UI</li>
    <i class="fa-solid fa-circle"></i>
    <li>Django</li>
    <i class="fa-solid fa-circle"></i>
    <li>SQL</li>
    <i class="fa-solid fa-circle"></i>
    <li>Sass</li>
    <i class="fa-solid fa-circle"></i>
    <li>Git</li>
    <i class="fa-solid fa-circle"></i>
    <li>HTML</li>
    <i class="fa-solid fa-circle"></i>
    <li>CSS</li>
    <i class="fa-solid fa-circle"></i>
    <li>Heroku</li>
    <i class="fa-solid fa-circle"></i>
    <li>AWS</li>
    <i class="fa-solid fa-circle"></i>
    <li>API</li>
    <i class="fa-solid fa-circle"></i>
    <li>NodeJS</li>
    <i class="fa-solid fa-circle"></i>
    <li>Swift</li>
    <i class="fa-solid fa-circle"></i>
    <li>Redux</li>
    </ul>
</div>