{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CodingCops</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block css_files %}
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}" />
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light">
      <div class="navbar-header"><a class="navbar-brand" href="{% url 'home' %}">Coding<b>Cops</b></a>
        <button
          type="button"
          data-target="#navbarCollapse"
          data-toggle="collapse"
          class="navbar-toggle">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></li>

          <li class="nav-item"><a class="nav-link" href="{% url 'info' %}">Info</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
          
          {% if request.user.is_authenticated %}
          
           
            
            <li class="nav-item"><a class="nav-link" href="{% url 'courses' %}">Courses</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'profiles'  %}">Profiles</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'profile'  %}">My Profile</a></li>
          {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'edit-user'  %}">Edit User</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'edit-profile'  %}">Edit Profile</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'profiles' %}">All Profiles</a></li> {% endcomment %}
          {% endif %}
        </ul>
      
        {% if not request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right"><a class="nav-link active" style="padding-right: 20px" href="{% url 'login' %}">
          <i class="fa fa-user-o" style="padding-right: 10px"></i>Login</a>
        </ul>
        {% endif %} {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right"><li class="nav-item" style="padding-right: 20px"><a class="nav-link active" href="{% url 'logout' %}">
              <i class="fa fa-user-o" style="padding-right: 10px"></i>Logout</a
            >
          </li>
        </ul> 
        {% endif %}
      </div>
    </nav>
  </body>
</html>
